service: zanon-dev

provider:
  name: aws
  runtime: nodejs12.x
  region: us-east-1
  stage: prod
  deploymentBucket:
    name: zanon.dev-lambda  
  environment:
    BUCKET: zanon.dev  
    CLOUDFRONT_DISTRIBUTION: E2ARU5P34MXJB
    REGION: us-east-1
    WEBHOOK_SECRET: ${ssm:deploy-zanon-dev-github-webhook-secret}  
    EMAIL: ${ssm:report-zanon-dev-email}  
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:PutObject
        - s3:PutObjectAcl
      Resource: "arn:aws:s3:::${self:provider.environment.BUCKET}/*"
    - Effect: Allow
      Action:
        - cloudfront:CreateInvalidation
      Resource: "*" # there is no resource level permission in cloudfront for CreateInvalidation, must use *   
    - Effect: Allow
      Action:
        - dynamodb:Scan
        - dynamodb:Query
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: [
        "arn:aws:dynamodb:${self:provider.region}:*:table/Comments",
        "arn:aws:dynamodb:${self:provider.region}:*:table/Feedback",
        "arn:aws:dynamodb:${self:provider.region}:*:table/Visits"        
      ]
    - Effect: Allow
      Action:
        - ses:SendEmail
      Resource: 
        - "arn:aws:ses:${self:provider.region}:*:*"

functions:
  deploy:
    handler: src/deploy/handler.deploy
    events:
      - http: POST /deploy # doesn't need an OPTIONS verb because it won't be called by a browser
    memorySize: 512
    timeout: 30     
  backend:
    handler: src/backend/handler.backend
    events:
      - http: GET /backend
      - http: POST /backend
      - http: PUT /backend
      - http: DELETE /backend
      - http: OPTIONS /backend
    memorySize: 512
    timeout: 10       
  report:
    handler: src/report/handler.report
    events:
      - schedule: cron(0 12 1 * ? *)   
    memorySize: 512
    timeout: 120   

plugins:
  - serverless-webpack
  - serverless-offline
  - serverless-plugin-dynamodb-autoscaling

resources:
  Resources:
    CommentsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Comments
        AttributeDefinitions:
          - AttributeName: Page
            AttributeType: S
          - AttributeName: GUID
            AttributeType: S            
        KeySchema:
          - AttributeName: Page
            KeyType: HASH
          - AttributeName: GUID
            KeyType: RANGE            
        ProvisionedThroughput:
          ReadCapacityUnits: 5
          WriteCapacityUnits: 5  
    FeedbackTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Feedback
        AttributeDefinitions:
          - AttributeName: Page
            AttributeType: S
          - AttributeName: Timestamp
            AttributeType: S            
        KeySchema:
          - AttributeName: Page
            KeyType: HASH
          - AttributeName: Timestamp
            KeyType: RANGE            
        ProvisionedThroughput:
          ReadCapacityUnits: 2
          WriteCapacityUnits: 2    
    VisitsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Visits
        AttributeDefinitions:
          - AttributeName: YearMonth
            AttributeType: S
          - AttributeName: Timestamp
            AttributeType: S            
        KeySchema:
          - AttributeName: YearMonth
            KeyType: HASH
          - AttributeName: Timestamp
            KeyType: RANGE            
        ProvisionedThroughput:
          ReadCapacityUnits: 5
          WriteCapacityUnits: 5

custom:
  webpack:
    webpackConfig: ./webpack.config.ts
  dynamodbAutoscaling:
    tablesConfig:
      CommentsTable:
        maxCapacity: 20     
      FeedbackTable:
        maxCapacity: 20     
        minCapacity: 2 
      VisitsTable:
        maxCapacity: 20

package:
  individually: true
  exclude:
    - .git/**
    - .vscode/**
    - site/**
    - tests/**    
    - CHANGELOG.md
    - CONTRIBUTE.md
    - LICENSE.md
    - README.md