service: zanon-dev

provider:
  name: aws
  runtime: nodejs12.x
  region: us-east-1
  stage: prod
  deploymentBucket:
    name: zanon.dev-lambda  
  environment:
    BUCKET: zanon.dev  
    CLOUDFRONT_DISTRIBUTION: E2ARU5P34MXJB
    REGION: us-east-1
    WEBHOOK_SECRET: ${ssm:deploy-zanon-dev-github-webhook-secret}  
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - s3:PutObject
        - s3:PutObjectAcl
      Resource: "arn:aws:s3:::${self:provider.environment.BUCKET}/*"
    - Effect: "Allow"
      Action:
        - cloudfront:CreateInvalidation
      Resource: "*" # there is no resource level permission in cloudfront for CreateInvalidation, must use *   

functions:
  deploy:
    handler: src/deploy/handler.deploy
    events:
      - http: POST /deploy # doesn't need an OPTIONS verb because it won't be called by a browser
    memorySize: 512
    timeout: 30     
  backend:
    handler: src/backend/handler.backend
    events:
      - http: GET /backend
      - http: POST /backend
      - http: OPTIONS /backend
    memorySize: 512
    timeout: 10    

plugins:
  - serverless-webpack
  - serverless-offline

custom:
  webpack:
    webpackConfig: ./webpack.config.ts

package:
  individually: true
  exclude:
    - .git/**
    - .vscode/**
    - site/**
    - tests/**    
    - CHANGELOG.md
    - CONTRIBUTE.md
    - LICENSE.md
    - README.md