service: deploy-zanon-dev

provider:
  name: aws
  runtime: nodejs12.x
  region: us-east-1
  stage: prod
  deploymentBucket:
    name: zanon.dev-deployment  
  environment:
    BUCKET: zanon.dev  
    REGION: us-east-1
    CLOUDFRONT_DISTRIBUTION: E2ARU5P34MXJB
    WEBHOOK_SECRET: ${ssm:deploy-zanon-dev-github-webhook-secret}  
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - s3:PutObject
        - s3:ListObjectsV2
        - s3:deleteObjects
      Resource: "arn:aws:s3:::${self:provider.environment.BUCKET}/*"
    - Effect: "Allow"
      Action:
        - cloudfront:CreateInvalidation
      Resource: "arn:aws:cloudfront:::distribution/${self:provider.environment.CLOUDFRONT_DISTRIBUTION}"   

functions:
  deploy:
    handler: src/deploy/handler.deploy
    events:
      - http: POST /deploy
    memorySize: 512
    timeout: 30     

plugins:
  - serverless-webpack
  - serverless-offline

custom:
  webpack:
    webpackConfig: ./src/deploy/webpack.config.ts

package:
  individually: true
  exclude:
    - .git/**
    - .vscode/**
    - site/**
    - tests/**    
    - CHANGELOG.md
    - CONTRIBUTE.md
    - LICENSE.md
    - README.md