@import './media-query';

// using "body" to increase specificity
body {

    pre[class*="language-"],
    code[class*="language-"] {
        border-radius: 1em;
        font-size: 1em;
    }

    pre[class*="language-"] ::selection,
    code[class*="language-"]::selection {
        background: #303030;
    }

    .copy-to-clipboard-button {
        cursor: pointer;
        border: 0;
        color: #bbb;
        font-size: 0.8em;
        padding: 0.3em 0.7em;
        background: rgba(224, 224, 224, .2);
        border-radius: 1em;
    }

    div.code-toolbar {
        position: relative;
    }

    div.code-toolbar>.toolbar {
        position: absolute;
        top: 1em;
        right: 1em;
    }
}

@include for-mobile {
    body {

        pre[class*="language-"],
        code[class*="language-"] {
            font-size: 0.7em;
        }

        .copy-to-clipboard-button {
            font-size: 0.7em;
            padding: 0.2em 0.4em;
        }

        div.code-toolbar>.toolbar {
            top: 0.4em;
            right: 0.7em;
        }
    }
}