@import './variables.scss';

#feedback {
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;

    figure {
        margin: 0px;
        width: 66px;
    }

    figcaption {
        font-size: 0.85em;
    }
}

svg.gray-icon g {
    fill: $gray-icon;
}

.heart,
.broken-heart,
.bug,
.chat {
    padding-bottom: 6px;
}

#feedback-message {

    textarea {
        width: 100%;
        height: 150px;
        box-sizing: border-box;
    }

    input[type=button] {
        float: right;
        margin-bottom: 20px;
    }
}

// only for devices that implement hover properly (i.e.: desktop)
@media (hover: hover) {
    .heart:hover {
        animation: 1.5s pulsate infinite alternate ease-in-out;
    }

    .broken-heart:hover {
        animation: 1s shake infinite alternate ease-in-out;
    }

    .bug:hover {
        animation: 1s tremble infinite alternate ease-in-out;
    }

    .chat:hover {
        animation: 2s grow infinite alternate linear;
    }
}

// only for devices that don't implement hover properly (i.e.: mobile)
@media (hover: none) {
    .heart:hover {
        animation: 1.5s pulsate 1 alternate ease-in-out;
    }

    .broken-heart:hover {
        animation: 1s shake 1 alternate ease-in-out;
    }

    .bug:hover {
        animation: 1s tremble 1 alternate ease-in-out;
    }

    .chat:hover {
        animation: 2s grow 1 alternate linear;
    }
}

@keyframes pulsate {

    100% {
        transform: scale(1);
    }

    20%,
    60% {
        transform: scale(1.1);
    }

    40%,
    80% {
        transform: scale(0.8);
    }
}

@keyframes shake {

    10%,
    90% {
        transform: translate(-1px, 0);
    }

    20%,
    80% {
        transform: translate(1px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate(-5px, 0);
    }

    40%,
    60% {
        transform: translate(5px, 0);
    }
}

@keyframes tremble {

    40%,
    80%,
    100% {
        transform: rotate(0);
    }

    20%,
    90% {
        transform: rotate(45deg);
    }

    60% {
        transform: rotate(-45deg);
    }
}

@keyframes grow {
    33% {
        transform: scale(1.2);
    }

    66% {
        transform: scale(0.8);
    }
}