.post {

    margin: 30px 30px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    img {
        width: 200px;
        height: 200px;
        margin-right: 30px;
    }
}