@import './media-query';

.post {

    margin: 30px 30px;
    display: flex;
    justify-content: center;

    a {
        text-decoration: none;
    }

    h2 {
        margin: 0;
    }

    img {
        margin-right: 30px;
        border-radius: 1em;
    }

    div {
        min-width: 70%;
    }
}

.post-description {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 40px;
    }
}

.demo,
.video {
    img {
        border-radius: 0;
        margin-right: 15px;
    }
}

.tags {
    margin-left: auto;

    span {
        border: 2px solid;
        border-radius: 1em;
        padding: 0.2em 0.5em;
        margin: 2px 10px 1px 0px;
    }
}

@include for-mobile {
    .post {
        flex-direction: column;

        img {
            margin: 0 auto 20px auto;
        }
    }

    .demo,
    .video {
        img {
            margin-right: 10px;
            width: 28px;
            height: 28px;
        }
    }

    .tags span {
        padding: 0em 0.4em;
        margin: 0px 8px 0px 0px;
    }

    .post-description div {
        height: 28px;
    }
}