@import './variables';

main {
    flex-grow: 1;

    #obfuscated-sign {
        width: $font-size;
        height: auto;
        vertical-align: middle;
    }

    #not-found {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: 2s fadeIn;
        animation-fill-mode: forwards;
        visibility: hidden;
    }

    // workaround to avoid showing "not found" when loading a snippet page
    @keyframes fadeIn {
        99% {
            visibility: hidden;
        }

        100% {
            visibility: visible;
        }
    }

    aside {
        display: flex;
        position: relative;
        margin-bottom: 16px;
    }
}