@import './media-query';

nav {
    display: flex;
    align-items: center;
    flex-direction: row;

    div {
        display: inline;
    }

    .home-link {
        margin-right: auto;
    }

    a {
        cursor: pointer;
        text-decoration: none;
    }

    img,
    svg {
        cursor: pointer;
        vertical-align: middle;
    }

    svg:focus {
        outline: none;
    }
}

@mixin set-nav-size($height, $font-size, $img-size, $padding) {
    nav {
        a {
            line-height: $height;
            font-size: $font-size;
        }

        img,
        svg {
            height: $img-size;
        }

        a,
        #theme-switcher {
            padding: $padding;
        }
    }
}

@include for-mobile {
    // $height, $font-size, $img-size, $padding
    @include set-nav-size(40px, 18px, 28px, 0px 5px);

    nav {

        a,
        .home-link {
            margin: 0 auto;
        }
    }
}

@include for-desktop {
    // $height, $font-size, $img-size, $padding
    @include set-nav-size(60px, 20px, 32px, 0px 15px);
}