@import './media-query';

nav {

    display: flex;
    align-items: center;
    flex-direction: row;

    cursor: pointer;

    .author {
        margin-right: auto;
    }

    a {
        text-decoration: none;
    }

    img,
    svg {
        vertical-align: middle;
    }
}

@include for-mobile {
    nav {
        flex-direction: column;

        a,
        .author {
            margin: 0 auto;
        }
    }
}

@mixin set-nav-size($height, $font-size, $img-size, $padding) {
    nav {
        height: $height;

        a {
            line-height: $height;
            font-size: $font-size;
        }

        img {
            height: $img-size;
        }

        a,
        svg {
            padding: $padding;
        }
    }
}

@include for-mobile {
    // $height, $font-size, $img-size, $padding
    @include set-nav-size(40px, 18px, 32px, 0px 15px);
}

@include for-desktop {
    // $height, $font-size, $img-size, $padding
    @include set-nav-size(60px, 20px, 32px, 0px 15px);
}