@import './media-query';

main {
    flex-grow: 1;

    h1 {
        font-size: 2em;
        margin-bottom: 0px;
    }

    p {
        margin: 20px 0px;
    }
}

article {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.post-date {
    margin-bottom: 30px;
}

article h2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.anchor {
    text-decoration: none;
    padding-top: 5px;
    padding-left: 7px;
}

.double-plot {
    display: flex;
    flex-direction: row;
    width: 50%;
    min-height: 50vw;

    canvas {
        flex: 1;
        margin: 0px 10px;
    }
}

@include for-mobile {
    .double-plot {
        flex-direction: column;
        width: 100%;
    }
}

@include for-medium-devices {
    h2 .anchor {
        visibility: hidden;
    }

    h2:hover .anchor {
        visibility: visible;
    }
}

@include for-large-devices {

    article h2 {
        position: relative;
        flex-direction: row;
        justify-content: flex-start;
    }

    h2 .anchor {
        visibility: hidden;
        left: -30px;
        padding-right: 15px;
        padding-left: 0px;
        position: absolute;
    }

    h2:hover .anchor {
        visibility: visible;
    }
}

article img {
    max-width: 100%;
    height: auto;
}

blockquote {
    padding: 0px 20px;
}

.post-ending {
    padding: 20px;
    margin: 20px auto;
    max-width: 75%;
}

#play-demo>input[type="button"] {
    display: block;
    margin: 0 auto;
}

#not-found {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

// workaround to avoid showing "not found" when loading a snippet page
@keyframes fadeIn {
    99% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}