@import './media-query';

main {
    flex-grow: 1;

    h1 {
        font-size: 2em;
        margin-bottom: 0px;
    }

    p {
        margin: 20px 0px;
    }
}

article {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .amp-img {
        text-align: center;
    }
}

.post-date {
    margin-bottom: 30px;
}

.anchor {
    text-decoration: none;
}

@include for-large-devices {

    article h2 {
        position: relative;

        .anchor {
            left: -30px;
            padding-right: 10px;
            position: absolute;
        }
    }

    h2 .anchor {
        visibility: hidden;
    }

    h2:hover .anchor {
        visibility: visible;
    }
}

#not-found {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

// workaround to avoid showing "not found" when loading a snippet page
@keyframes fadeIn {
    99% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}