@import './variables';

@function get($theme, $suffix) {
    @return map-get($theme-colors, $theme + $suffix);
}

@mixin theme($theme) {
    background-color: get($theme, '-base');
    color: get($theme, '-font-color');

    .post h2,
    .tags {
        color: get($theme, '-font-color');
    }

    article p,
    article li,
    .post-date,
    .post p,
    .post-ending {
        color: get($theme, '-font-color-article');
    }

    pre[class*="language-"],
    code[class*="language-"] {
        background-color: get($theme, '-code-background');
    }

    #obfuscated-sign {
        stroke: get($theme, '-font-color');
    }

    nav,
    footer {

        a {
            color: get($theme, '-font-color');

            &:hover,
            &:visited,
            &:active {
                color: rgba(get($theme, '-font-color'), 0.7)
            }
        }
    }

    nav {
        border-bottom: 2px solid get($theme, '-nav-color');
    }

    footer {
        border-top: 2px solid get($theme, '-nav-color');
    }

    blockquote,
    .post-ending {
        border: 2px solid get($theme, '-nav-color');
    }

    input,
    textarea {
        border-color: get($theme, '-border-color');
    }

    a,
    a:hover,
    a:visited,
    a:active {
        color: get($theme, '-link-color');
    }

    div,
    a,
    figure,
    input,
    textarea,
    pre,
    h2,
    button {
        &:focus {
            outline-color: get($theme, '-link-color');
            outline-offset: 3px;
        }
    }
}

.dark-theme {
    @include theme(dark);

    .demo img {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" stroke="%23f7f7f7" fill="%23f7f7f7" width="40px" viewBox="0 0 100 100"><circle cx="23" cy="55" r="22" /><circle cx="77" cy="55" r="22" /><rect x="23" y="33" width="54" height="35" /><path fill="none" stroke-width="5" d="M 50,30 A 10,10 0 0,1 60,20 M 60,20 L 70,20 M 70,20 A 10,10 0 0,0 80,10 M 80,10 L 80,0" /><rect x="11" y="51" rx="3" width="24" height="8" fill="%231a1e24" stroke-width="0"/><rect x="19" y="43" rx="3" width="8" height="24" fill="%231a1e24" stroke-width="0" /><circle cx="77" cy="63" r="4" fill="%231a1e24" stroke-width="0"/><circle cx="77" cy="47" r="4" fill="%231a1e24" stroke-width="0"/><circle cx="69" cy="55" r="4" fill="%231a1e24" stroke-width="0"/><circle cx="85" cy="55" r="4" fill="%231a1e24" stroke-width="0" /></svg>');
    }

    .video img {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" stroke="%23f7f7f7" fill="%23f7f7f7" width="40px" viewBox="0 0 100 100"><rect x="1" y="15" rx="5" width="98" height="70" /><rect x="5" y="20" width="14" height="7" fill="%231a1e24"/><rect x="24" y="20" width="14" height="7" fill="%231a1e24"/><rect x="43" y="20" width="14" height="7" fill="%231a1e24"/><rect x="62" y="20" width="14" height="7" fill="%231a1e24"/><rect x="81" y="20" width="14" height="7" fill="%231a1e24"/><rect x="5" y="73" width="14" height="7" fill="%231a1e24"/><rect x="24" y="73" width="14" height="7" fill="%231a1e24"/><rect x="43" y="73" width="14" height="7" fill="%231a1e24"/><rect x="62" y="73" width="14" height="7" fill="%231a1e24"/><rect x="81" y="73" width="14" height="7" fill="%231a1e24"/><path d="M 40,60 L 40,40 L 60,50 Z" fill="%231a1e24" stroke-linejoin="round" /></svg>');
    }
}

.light-theme {
    @include theme(light);

    .anchor img {
        filter: invert(1);
    }
}