@import './variables';

@mixin theme($base, $highlight, $font-color, $link-color, $border-color) {
    background-color: $base;
    color: $font-color;
    transition: background-color 0.5s, color 0.5s;

    #obfuscated-sign {
        stroke: $font-color;
    }

    nav,
    footer {

        a {
            color: $font-color;

            &:hover,
            &:visited,
            &:active {
                color: rgba($font-color, 0.7)
            }
        }
    }

    nav {
        border-bottom: 2px solid $border-color;
    }

    footer {
        border-top: 2px solid $border-color;
    }

    a,
    a:hover,
    a:visited,
    a:active {
        color: $link-color;
    }

    .modal-content {
        background-color: $base;
    }
}

.light-theme {
    @include theme($light-base, $light-highlight, $light-font-color, $light-link-color, $light-border-color);
}

.dark-theme {
    @include theme($dark-base, $dark-highlight, $dark-font-color, $dark-link-color, $dark-border-color);
}