#theme-switcher {
    cursor: pointer;
}

#sun:hover circle:nth-child(2) {
    fill: #fff000;
}

#moon:hover circle:nth-child(2),
#moon:hover circle:nth-child(4) {
    fill: #597ddd;
}

#sun,
#moon,
#stars {
    transition: transform 0.3s;
}

.move-right {
    transform: translate(250px, 0px);
}

.move-left {
    transform: translate(-250px, 0px);
}