#theme-switcher {
    cursor: pointer;
}

#sun,
#moon,
#clouds,
#stars {
    transition: transform 0.3s;
}

.move-right {
    transform: translate(250px, 0px);
}

.move-left {
    transform: translate(-250px, 0px);
}