@import './variables';

@function get($theme, $suffix) {
    @return map-get($theme-colors, $theme + $suffix);
}

@mixin theme($theme) {
    background-color: get($theme, '-base');
    color: get($theme, '-font-color');
    transition: background-color 0.5s, color 0.5s;

    article p,
    article li,
    .post-date {
        color: get($theme, '-font-color-article');
        transition: color 0.5s;
    }

    pre[class*="language-"],
    code[class*="language-"] {
        background-color: get($theme, '-code-background');
    }

    #obfuscated-sign {
        stroke: get($theme, '-font-color');
    }

    nav,
    footer {

        a {
            color: get($theme, '-font-color');

            &:hover,
            &:visited,
            &:active {
                color: rgba(get($theme, '-font-color'), 0.7)
            }
        }
    }

    nav {
        border-bottom: 2px solid get($theme, '-nav-color');
    }

    footer {
        border-top: 2px solid get($theme, '-nav-color');
    }

    input,
    textarea {
        border-color: get($theme, '-border-color');
    }

    a,
    a:hover,
    a:visited,
    a:active {
        color: get($theme, '-link-color');
    }
}

.light-theme {
    @include theme(light);
}

.dark-theme {
    @include theme(dark);
}