@import './variables';

@mixin theme($background, $font-color) {
    background-color: $background;

    nav a {
        color: $font-color;
    }
}

.light-theme {
    // $background, $font-color
    @include theme(white, $black);
}

.dark-theme {
    // $background, $font-color
    @include theme($black, white);
}