@import './variables';

@mixin theme($base, $highlight, $text) {
    background-color: $base;
    color: $text;

    nav a,
    footer a {
        color: $text;

        &:hover {
            color: rgba($text, 0.7);
        }
    }
}

.light-theme {
    // $base, $highlight, $text
    @include theme($light-base, $light-highlight, $light-text);
}

.dark-theme {
    // $base, $highlight, $text
    @include theme($dark-base, $dark-highlight, $dark-text);
}