@import './variables';

@function get($theme, $suffix) {
    @return map-get($theme-colors, $theme + $suffix);
}

@mixin theme($theme) {
    background-color: get($theme, '-base');
    color: get($theme, '-font-color');

    .post h2,
    .tags {
        color: get($theme, '-font-color');
    }

    article p,
    article li,
    .post-date,
    .post p,
    .post-ending {
        color: get($theme, '-font-color-article');
    }

    .anchor svg {
        stroke: get($theme, '-font-color-article');
    }

    pre[class*="language-"],
    code[class*="language-"] {
        background-color: get($theme, '-code-background');
    }

    #obfuscated-sign {
        stroke: get($theme, '-font-color');
    }

    nav,
    footer {

        a {
            color: get($theme, '-font-color');

            &:hover,
            &:visited,
            &:active {
                color: rgba(get($theme, '-font-color'), 0.7)
            }
        }
    }

    nav {
        border-bottom: 2px solid get($theme, '-nav-color');
    }

    footer {
        border-top: 2px solid get($theme, '-nav-color');
    }

    .post-ending {
        border: 2px solid get($theme, '-nav-color');
    }

    input,
    textarea {
        border-color: get($theme, '-border-color');
    }

    a,
    a:hover,
    a:visited,
    a:active {
        color: get($theme, '-link-color');
    }

    div,
    a,
    figure,
    input,
    textarea,
    pre,
    h2,
    button {
        &:focus {
            outline-color: get($theme, '-link-color');
            outline-offset: 3px;
        }
    }
}

.light-theme {
    @include theme(light);
}

.dark-theme {
    @include theme(dark);
}