$red: #ff5e5b;
$blue: #595ddd;
$gray: #505050;

$font-size: 16px;
$button-color: $blue;
$gray-icon: #6a6a6a;

$theme-colors: (
    dark-base: #1a1e24,
    dark-font-color: #f7f7f7,
    dark-font-color-article: #c6d8ec,
    dark-link-color: #6ab0f3,
    dark-border-color: #ddd,
    dark-nav-color: $gray,
    dark-code-background: #151515,

    light-base: #fff,
    light-font-color: #001e50,
    light-font-color-article: #303a45,
    light-link-color: #0000ee,
    light-border-color: #333,
    light-nav-color: #ccc,
    light-code-background: #1a1e24
);