$dark-base: #202020;
$dark-highlight: #81A4FF;
$dark-font-color: #F7F7F7;
$dark-link-color: #00AAEE;

$light-base: #FFF;
$light-highlight: #81A4FF;
$light-font-color: #202020;
$light-link-color: 0000EE;

$font-size: 16px;